/* Media Queries for Medium-sized screens (992px - 767px) */
@media (max-width: 991px) {
    .carousel-item img{
        object-fit: contain;
    }
}
/* Media Queries for Smaller screens (max-width: 767px) */
@media (max-width: 767px) {
    .carousel-item img{
        object-fit: contain;
    }
    .hiring-section {
        background-size: contain;
    }
    #BacktoTopBtn {
        bottom: 10px;
        right: 10px;
        padding: 8px;
        font-size: 14px;
    }
}

@media (min-width: 576px) {
    /* Two columns on small devices */
    .gallery-column {
        width: 50%;
    }
    .gallery-slides img{
        height: 35vh;
    }
}

@media (min-width: 768px) {
    /* Three columns on medium devices */
    .gallery-column {
        width: 33.33%;
    }
    .gallery-slides img{
        height: 35vh;
    }
}

@media (min-width: 992px) {
    /* Four columns on large devices */
    .gallery-column {
        width: 25%;
    }
}