/*
<!-- 
Name: I-world Networks
Date: 1st January, 2024
Developer: Armaaneth Esiri
-->
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
}

/* Font Family */


/* Header */
.header{
    width: 100%;
    height: 100vh;
    position: relative;
}

#SlideOne{
    background: url(../img/iw_header.png) center;
    background-size: cover;
}

#SlideTwo{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/header2.jpg) center;
    background-size: cover;
}

#SlideThree{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/header1.jpg) center;
    background-size: cover;
}

/* Navbar styling */
.topnav {
    background-color: transparent;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}

.topnav .logo{
    height: 100%;
    width: 15%;
}

.topnav .logo img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.navlist{
    list-style-type: none;
    width: 70%;
    height: 100%;
    font-size: 15px;
}
.navlink{
    outline: none;
    background: white;
    border: none;
    text-decoration: none;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navitem:hover .dropdown-content {
    display: block;
}

.subscribe-btn{
    width: 15%;
    height: 100%;
}

/* Ending of navbar */
/* Header content */
.header-content{
    z-index: 0;
    width: 100%;
    height: 90vh;
    position: absolute;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    width: 100%;
    height: 100%;
  }
  
  /* Slides */
  .Slides {
    display: none;
    padding: 80px;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .Slides .slides-content-container{
    width: 55%;
    height: 100%;
    text-align: start;
    color: white;
  }
  .Slides .slides-content-container h1{
    font-weight: bold;
  }

  .Slides .slides-content-container h4,   .Slides .slides-content-container h1 span{
    color: #ff6600;
    font-weight: 700;
}
.Slides .slides-content-container h4, .Slides .slider-intro-text{
    font-family: 'Lato', sans-serif;
}

  .Slides .header-btn-container{
    width: 50%;
    text-align: start;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: auto;
    margin-top: -30px;
    padding: 5px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #9CCB48;
    color: white;
}
/* Ending of header */

/* Beginning of our services styling */
.service-container{
    margin: 2rem 0rem;
    width: 100%;
    height: 100vh;
}

.service-container .service-title{
    width: 100%;
    height: 20%;
}

.service-container .service-title h6{
    font-family: 'Lato', sans-serif;
}

.service-container .service-text{
    width: 50%;
    text-align: center;
}

.service-container .service-grid{
    width: 100%;
    height: 80%;
}

/* Footer styling */
.footer{
    margin: 10rem 0px 0px 0px;
    width: 100%;
    height: 96vh;
    background: url(../img/footer-bg.png);
    background-size: cover;
}
.footer form input[ type='email']{
    width: 50%;
    padding: 10px 20px;
    outline: none;
    border: none;
}
.footer form input[ type='submit']{
    padding: 10px 20px;
    outline: none;
    border: none;
    background: #9CCB48;
}
.footer table{
    text-align: center;
}
.footer li{
    list-style-type: none;
    font-family: 'Lato', sans-serif;
}
.footer li a{
    color: black;
    text-decoration: none;               
    font-family: 'Lato', sans-serif;
}
.footer-link-title{
    color: #fff;
}

/* About Us Page Styling */
.about-header-content{
    width: 100%;
    height: 90vh;
}
.about-header-content .about-header-text{
    width: 50%;
    height: 100%;
    padding: 10rem 5rem;
}
.about-header-content .about-header-img{
    width: 40%;
    height: 100%;
}
.about-header-content .about-header-text .about-title{
    font-weight: 700;
    color: #9CCB48;
}
.v-m-container{
    width: 100%;
    height: 60vh;
    padding: 0rem 5rem;
}
.v-m-container h2{
    font-size: 25px;
    font-weight: 600;
}
.v-m-container p, .certification-container .certificates .certificate-list p{
    font-family: 'Lato', sans-serif;
}
.certification-container{
    width: 100%;
    height: 80vh;
}
.certification-container .certification-image{
    width: 35%;
    height: 100%;
}
.certification-container .certificates{
    width: 45%;
    height: 100%;
}
.certification-container .certification-image img{
    width: 100%;
    height: 100%;
}
.certification-container .certificates .certificate-list{
    width: 100%;
    height: 100%;
    list-style-type: none;
}
.certification-container .certificates .certificate-list h2{
    font-size: 23px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color: #9CCB48;
}
.coverage{
    width: 100%;
    height: 90vh;
    border-top:2px solid white;
}
.coverage-map{
    width: 100%;
    height: 55%;
}
.coverage-map img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}
.coverage-content{
    width: 100%;
    height: 45%;
}
.coverage-list{
    list-style-type: none;
    width: 50%;
    height: 100%;
}
.coverage-img{
    width: 50%;
    height: 100%;
}
.coverage-img img{
    width: 100%;
    height: 100%;
}

/* Contact Us Page Styling */
.contact-header-content{
    width: 100%;
    height: 60vh;
}
.contact-header-content contact-header-text{
    width: 40%;
    height: 100%;
}
.contact-header-content .contact-header-text p{
    font-family: 'Lato', sans-serif;
}
.contact-header-content .contact-header-img{
    width: 60%;
    height: 100%;
}
.contact-header-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-form{
    width: 100%;
    height: 90vh;
}
.contact-form form{
    width: 100%;
    height: 80%;
    font-family: 'Lato', sans-serif;
}
.contact-form form div{
    width: 70%;
    height: 25%;
}
.contact-form form div label{
    font-family: 'Lato', sans-serif;
}
.contact-form form .input-container input, .contact-form form div textarea{
    width: 100%;
}
.contact-form form div input{
    height: 50px;
}

.support-container{
    width: 100%;
    height: 50vh;
}
.support-container .customer-support-grid{
    width: 100%;
    height: 85%;
}
.support-container .customer-support-grid .support-block{
    background: #D9D9D9;
    width: 40%;
    height: 80%;
}
.contact-faq-container{
    width: 100%;
    height: auto;
}
.contact-faq-container span{
    width: 70%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.contact-faq-container .accordion-container{
    width: 70%;
    height: 75%;
}
.accordion {
    background-color: #fff;
    color: #ff6600;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    transition: 0.4s;
    font-family: 'Lato', sans-serif;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: start;
}
.panel p{
    font-family: 'Lato', sans-serif;
}
.accordion:after .icon{
    float: right;
    margin-left: 5px;
}
.coverage-body h5{
    font-weight: bold;
}
.coverage-header{
    width: 100%;
    height: 50vh;
}
.coverage-header-content{
    width: 100%;
    height: 40vh;
}
.coverage-header-text{
    width: 80%;
    height: 100%;
}
.coverage-header-text .coverage-title{
    color: #9CCB48;
}
.coverage-header-text p{
    font-family: 'Lato', sans-serif;
}
.iob-header{
    width: 100%;
    height: 70vh;
}
.iob-header .iob-header-content{
    width: 100%;
    height: 70vh;
}
.iob-header .iob-header-content .iob-header-text{
    width: 40%;
    height: 100%;
}
.iob-header .iob-header-content .iob-header-text h2{
    color: #9CCB48;
}
.iob-header .iob-header-content .iob-header-img{
    width: 60%;
    height: 100%;
}
.iob-header .iob-header-content .iob-header-img img{
    width: 100%;
    height: 100%;
}
.iob-header .iob-header-content .iob-header-text button{
    background: #9CCB48;
    border: none;
}
.mv-container{
    width: 100%;
    height: auto;
}
.mv-container p{
    font-family: 'Lato', sans-serif;
}
.dp-section{
    width: 100%;
    height: auto;
}
.dp-section .dp-grid-container{
    width: 100%;
    height: auto;
}
.dp-section .dp-grid-container .dp-grid{
    width: 100%;
    height: 100%;
}
.dp-section .dp-grid-container .dp-grid .col{
    width: 35%;
    height: auto;
    background: rgba(0, 130, 0, 0.10);
    text-align: center;
}
.dp-section .dp-grid-container .dp-grid .col .avatar{
    width: 80px;
    height: 80px;
    background: #fff;
}
.service-container{
    width: 100%;
    height: 100vh;
}
.service-container .service-title{
    width: 100%;
    height: 20%;
}
.service-container .service-grid{
    width: 100%;
    height: 80%;
}
.service-container .service-grid .row{
    width: 100%;
    height: 100%;
}
.service-container .service-grid .row .channel-img{
    width: 45%;
    height: 90%;
}
.service-container .service-grid .row .channel-img img{
    width: 100%;
    height: 100%;
}
.service-container .service-grid .row .services-info{
    width: 45%;
    height: 90%;
}
.service-container .service-grid .row .services-info .info-box{
    width: 100%;
    height: 22vh;
    background: #f60;
}
.ngn-edu-container{
    width: 100%;
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./Assets/img/education-iworld1.jpg) top fixed;
    background-size: cover;
}
.ngn-edu-container .ngn-edu-content{
    width: 50%;
    height: 100%;
    color: white;
}

.testimonial-container{
    width: 100%;
    height: 60vh;
}
.swiper {
    width: 100%;
    height: 75%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
}

/* NGN GOOGLE FOR EDU PAGE STYLING */
.gfe-header{
    width: 100%;
    height: 80vh;
}
.gfe-header-content{
    background-color: gray;
    width: 100%;
    height: 70vh;
}
.gfe-header-content .gfe-header-text{
    width: 50%;
    height: 100%;
}
.ngn-edu-info h5,li, .school-partners h2, .school-box span, .lato{
    font-family: 'Lato', sans-serif;
}
.educator{
    width: 100%;
    height: 50vh;
    background: rgba(255, 102, 0, 0.1);
}
.educator-content{
    width: 50%;
    height: 100%;
}
.news-section{
    width: 100%;
    height: 50vh;
}
.news-section .news-slide{
    width: 100%;
    height: 100%;
}
.news-box{
    width: 45%;
    height: 100%;
}
.news-box img{
    width: 100%;
    height: 100%;
}
.news-box .news-text{
    width: 100%;
    height: 50%;
}
.gallery-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.mySlides {
    display: none;
}
.mySlides img{
    width: 100%;
    height: 80vh;
    object-fit: contain;
}
.cursor {
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #ff6600;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
-webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: #9CCB48;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: #000;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 15%;
}
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}
.sdts-testimonials{
    width: 100%;
    height: auto;
}
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
color: #000;
display: inline-block;
font-family: 'Lato', Arial, sans-serif;
font-size: 16px;
margin: 35px 10px 10px;
max-width: 310px;
min-width: 250px;
position: relative;
text-align: center;
width: 100%;
background-color: #ffffff;
border-radius: 5px;
border-top: 5px solid #ff6600;
}

.snip1533 *,
.snip1533 *:before {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.1s ease-out;
transition: all 0.1s ease-out;
}

.snip1533 figcaption {
padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
background-color: #fff;
border-radius: 50%;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
color: #ff6600;
content: "\f10e";
font-family: 'FontAwesome';
font-size: 32px;
font-style: normal;
left: 50%;
line-height: 60px;
position: absolute;
top: -30px;
width: 60px;
}

.snip1533 h3 {
color: #ff6600;
font-size: 20px;
font-weight: 300;
line-height: 24px;
margin: 10px 0 5px;
}

.snip1533 h4 {
font-weight: 400;
margin: 0;
opacity: 0.5;
color: #000;
}

.snip1533 blockquote {
font-style: italic;
font-weight: 300;
margin: 0 0 20px;
}
.lato{
    font-family: 'Lato', sans-serif;
}
.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #ff6600;
    border-color: #ff6600;
}
.input-group input:active {
    box-shadow: 0px 0px 25px #ff6600 !important;
    border-color: #ff6600 !important;
}
.form-select:active,
.form-select:focus,
.form-select:hover {
    background-color: #ff660090;
    color: white;
    border-color: #ff660090;
    box-shadow: 0px 0px 5px #ff6600;
}
.dropbtn {
    background: white;
    color: #000;
    padding: 16px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}
.dropbtn:hover, .dropbtn:focus {
    font-size: 19px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display:block;
}